*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/AZURE_CREDENTIALS.md
/auth.json
/database/database.sqlite
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
